/* General Css */

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  /* Primary  */
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);

  /* Neutral */
  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  list-style-type: none;
}
body {
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  padding: 60px 8%;
}
.gradient {
  background: hsla(136, 65%, 51%, 1);

  background: linear-gradient(
    180deg,
    hsla(136, 65%, 51%, 1) 0%,
    hsla(192, 70%, 51%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(136, 65%, 51%, 1) 0%,
    hsla(192, 70%, 51%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(136, 65%, 51%, 1) 0%,
    hsla(192, 70%, 51%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2BB7DA", endColorstr="#31D35C", GradientType=1);
}

/* Button styles */
.btn {
  padding: 14px 32px;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}
.btn:hover {
  opacity: 0.7;
}
/* Desktop Navbar */
nav {
  background-color: white;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    180deg,
    hsla(136, 65%, 51%, 1) 0%,
    hsla(192, 70%, 51%, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2BB7DA", endColorstr="#31D35C", GradientType=1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

nav ul li:hover::after {
  opacity: 1;
}

nav ul li a {
  color: var(--GrayishBlue);
  font-weight: 400;
  transition: color 0.5s ease-in-out;
}
nav ul li a:hover {
  color: var(--DarkBlue);
}

/* Hero Section */
#hero {
  width: 100%;
  display: flex;
  background: var(--VeryLightGray);
}
#hero > div {
  flex-basis: 50%;
}
.hero_typography {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero_typography h1 {
  color: var(--DarkBlue);
  font-size: 36px;
  line-height: normal;
  font-weight: 400;
}
.hero_typography p {
  color: var(--GrayishBlue);
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.hero_image-container {
  width: 100%;
  height: 100%;
}
.hero_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Services Section */
#About {
  background: var(--LightGrayishBlue);
}
.text-title h2 {
  font-size: 28px;
  color: var(--DarkBlue);
  font-weight: 400;
}
.text-title p {
  width: 60%;
  font-size: 16px;
  color: var(--GrayishBlue);
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0px;
}
.box-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
}
.box {
  display: flex;
  flex-direction: column;
}
.box-icon-container {
  width: 50px;
  height: 50px;
}
.box-icon-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-title h3 {
  font-size: 18px;
  color: var(--DarkBlue);
  font-weight: 400;
  margin: 24px 0;
}
.box-desc p {
  color: var(--GrayishBlue);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
/* blog section */
#Blog {
  background: var(--VeryLightGray);
}
.blogs_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  column-gap: 20px;
}
.blog_image {
  height: 40%;
  border-radius: 5px;
  overflow: hidden;
}
.blog_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.blog_body {
  padding: 20px;
  background-color: white;
}
.blog_body .author {
  font-size: 12px;
  font-weight: 400;
  color: var(--GrayishBlue);
}
.blog_title {
  font-size: 18px;
  color: var(--DarkBlue);
  font-weight: 400;
  margin: 12px 0;
  transition: color 0.4s ease-in-out;
}
.blog_title:hover {
  color: var(--LimeGreen);
}
.blog_desc {
  color: var(--GrayishBlue);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
/* footer */
#footer {
  background: var(--DarkBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social_icons_container {
  display: flex;
  gap: 10px;
}
.social_icons_container svg {
  fill: white;
  transition: fill 0.3s ease-in-out;
}
.social_icons_container svg:hover {
  fill: var(--LimeGreen);
}
.footer_links ul li {
  font-size: 15px;
  color: var(--LightGrayishBlue);
  font-weight: 400;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.footer_links ul li:hover {
  color: var(--LimeGreen);
}
.footer_links ul li:not(:last-child) {
  margin-bottom: 20px;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
}
.right p {
  color: var(--LightGrayishBlue);
  font-size: 16px;
}
